.header {
    min-height: 75vh;
    background-image: linear-gradient(0deg, hsla(0, 0%, 0%, 0.3), hsla(0, 0%, 0%, 0.3)), url('/images/mobile/image-hero.jpg');
    background-size: cover;
    background-position: top;
    position: relative;

    @include sm {
        background-image: linear-gradient(0deg, hsla(0, 0%, 0%, 0.3), hsla(0, 0%, 0%, 0.3)), url('/images/desktop/image-hero.jpg');
    }

    &__container {
        min-height: 75vh;

        @include xl {
            position: relative;
        }
    }

    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid $color-white;
        padding: 2rem;

        @include sm {
            padding: 2rem 3rem;
        }

        @include lg {
            width: 60%;
            left: 5%;
            transform: translate(0, -50%);
        }

        @include xl {
            left: 0;
        }
    }
}
